# 4 ingredients to program in Python

 1. Operators
 2. Objects
 3. Functions
 4. Statements

## Operators

 * Arithmetic: `-, +, /, *`
 * Comparison: `<`, `==`, `>=`
 * Boolean: `and`, `or`, `not`

### Arithmetic Operators

In [1]:
4 + 5

9

In [2]:
3 / 2

1.5

In [3]:
2 ** 3

8

In [4]:
9 * 2

18

### Comparison Operators

In [5]:
3 < 4

True

In [6]:
3 <= 3

True

In [7]:
4 >= 4

True

In [8]:
4 == 2 * 2

True

### Boolean operators

Equivalent to maths' $\cup$ and $\cap$

In [9]:
3 < 2 and 4 > 2

False

In [10]:
5 == 10 / 2 or 5 == 3

True

In [11]:
2 == 3 or 3 > 8 or 3 == 9

False

In [12]:
(8 == 8 and 4 == 2 * 2) or (7 < 4)

True

## Objects and variables

In python a `type` is another word for object.

A **variable** is a name assigned to an object.

 1. Container type: `list, tuple, dict, set`
 2. Data types: `int, float, str`

### Container types

In [13]:
# list
[1, 2, 3, 4]

[1, 2, 3, 4]

In [14]:
seq = [1, 2, 3, 4]

In [15]:
seq

[1, 2, 3, 4]

In [16]:
# Una lista es un objeto indexado
# 0-indexed

seq[1]

2

In [17]:
# Una lista es un objeto mutable

seq[1] = 9

In [18]:
seq

[1, 9, 3, 4]

In [19]:
# Tuple
(1, 2, 3, 4)

(1, 2, 3, 4)

In [20]:
seq = (1, 2, 3, 4)

In [21]:
seq

(1, 2, 3, 4)

In [22]:
# Saber cual es el objeto de la variable
type(seq)

tuple

In [23]:
# También son indexados
seq[1]

2

In [24]:
# No son objetos mutables, son inmutables
seq[1] = 9

TypeError: 'tuple' object does not support item assignment

In [26]:
# Dictionary
# Está compuesto de llaves (keys) y valores (values)
# Es equivalente a un mapeo o a un función matemática

seq = {0: "h",
       1: "o",
       2: "l",
       3: "a",
       0: "p"}

In [27]:
seq

{0: 'p', 1: 'o', 2: 'l', 3: 'a'}

In [28]:
seq[2] = "m"

In [29]:
seq

{0: 'p', 1: 'o', 2: 'm', 3: 'a'}

In [30]:
# Un diccionario puede tener objetos inmutables como llaves
seq[(0, 1, 2)] = "j"

In [31]:
seq

{0: 'p', 1: 'o', 2: 'm', 3: 'a', (0, 1, 2): 'j'}

In [32]:
seq[[0, 1]] = "w"

TypeError: unhashable type: 'list'

In [33]:
seq[4] = "!"

In [34]:
seq

{0: 'p', 1: 'o', 2: 'm', 3: 'a', (0, 1, 2): 'j', 4: '!'}

In [40]:
# Set
seq = {0, 1, 2, 3, 4}

In [36]:
seq

{0, 1, 2, 3, 4}

In [37]:
seq = {0, 1, 1}

In [38]:
seq

{0, 1}

In [39]:
seq[0]

TypeError: 'set' object is not subscriptable

In [41]:
seq1 = {2, 3}

In [43]:
seq

{0, 1, 2, 3, 4}

In [42]:
# Arithmetic operators work on sets

seq - seq1

{0, 1, 4}

In [44]:
seq & seq1

{2, 3}

In [45]:
seq | seq1

{0, 1, 2, 3, 4}

## Functions

 * Built-in functions like `sum` or `print`
 * User-defined functions with keyword statement `def`

In [46]:
print("hello darkness my old friend")

hello darkness my old friend

In [47]:
# def, nombre de la función(argumentos):
# El output de la función está después de "return"
# Dummy variables a, b
# Namespace -> Todas las variables definidas adentro de un contexto

def suma(a, b):
    c = a + b
    
    return c

In [48]:
suma(4, 5)

9

In [49]:
def suma_3(a, b, c):
    d = suma(a, b)
    
    return suma(d, c)

In [50]:
suma_3(1, 4, 6)

11

## Statements

 * Looping: `for`, `while`
 * Conditional: `if`, `else`
 * Catching "bugs": `try`, `except`

In [51]:
# Dummy variable x
for x in [1, 2, 3]:
    print(x)

1
2
3

Very useful with functions

In [52]:
seq = ["h", "o", "l", "a"]
seq[0:2]

['h', 'o']

In [ ]:
# Range da un iterador de números enteros entre dos valores dados los argumentos
# 8 excluido
range(1, 8)

In [53]:
# range function
for x in range(3):
    print(x)

0
1
2

In [54]:
for x in range(3): print(x)

0
1
2

### (Argumentos de una función en Python)

In [57]:
def ejemplo(a, b, c, o):
    print(o)

In [58]:
# El orden importa!
ejemplo(1, 2, 3, 4)
ejemplo(4, 3, 2, 1)

4
1

In [62]:
# Keyword arguments, siempre tiene un valor pr default
def ejemplo(a, arg=6, b):
    print(arg)

SyntaxError: non-default argument follows default argument (<ipython-input-62-26e7eafe0bee>, line 2)

In [61]:
# Los  keyword arguments siempre van después de los arguments normales
ejemplo(9, 8, arg=10)

10

In [63]:
# Pasar un número indefinido de argumentos a una función
# Con el símbolo "*"
def ejemplo(*args):
    print(args)

In [66]:
ejemplo(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [68]:
suma(9, 8)

17

In [75]:
# Usando mi función "suma" que toma dos argumentos
def suma_todos(*args):
    # args es un tuple, un iterable
    # C empieza con la suma de los primeros dos argumentos
    if len(args) < 2:
        return "Necesitamos al menos dos argumentos"
    c = suma(args[0], args[1])
    
    for arg in args[2:]:
        c = suma(c, arg)
        
    print(c)

In [76]:
suma_todos(1)

'Necesitamos al menos dos argumentos'

Example:

Create a function that sums all arguments.

In [114]:
def suma_todos(*args):
    #
    for x in args:

SyntaxError: unexpected EOF while parsing (<ipython-input-114-ea570bbb0eab>, line 2)

In [ ]:
def suma_todos(*args):
    # "args" is actually a tuple
    
    c = suma(args[0], args[1])
    for x in args[2:]:
        d = suma(c, x)
        c = d
    
    return c

In [ ]:
suma_todos(1,2,3,4)

### Recursive functions

Fibonacci:
    
$F_0 = 0, F_1 = 1$

$F_n = F_{n-1} + F_{n-2}$

In [ ]:
def fibo(n):
    # Compute the n-th Fibonacci number
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [ ]:
fibo(10)

## Bibliography

 * Operators and expressions: https://realpython.com/python-operators-expressions/
 * Containers: https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747